<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <title>Portfolio</title>
</head>
<body>
  
  <div class="frame">
    <div class="main_frame">
      <div class="left_frame">
        <div class="left_1">
          <div class="left_1_pic">
            <img src="images/profile.png" 
            width="156px"
            height="142px" alt=""
            />
          </div>
          <div class="left_1_name">
            <%=user.name%>
          </div>
          <div class="left_1_profession"><%=user.profession%></div>
          <div class="left_1_icon">
            <a class="link_href" href="">
              <div class="icon">
                <img src="icon/facebook.svg" class="icon-1"/>
              </div>
            </a>
            <a class="link_href" href="">
              <div class="icon">
                <img src="icon/instagram.svg" class="icon-1"/>
              </div>
            </a>
            <a class="link_href" href="">
              <div class="icon">
                <img src="icon/linkedin.svg" class="icon-1"/>
              </div>
            </a>
            <a class="link_href" href="">
              <div class="icon">
                <img src="icon/youtube.svg" class="icon-1"/>
              </div>
            </a>
            <a class="link_href" href="">
              <div class="icon">
                <img src="icon/dribbble.svg" class="icon-1"/>
              </div>
            </a>
          </div>
        </div>
        <div class="marginer"></div>
        <div class="left_2">
          <div class="left_2_bio">
            <div class="prop_color" style="width: 47px;">
              <div class="prop_word">Age:</div>
            </div>
            <div class="prop_user"><%=user.age%></div>
          </div>
          <div class="left_2_bio">
            <div class="prop_color" style="width: 89px;">
              <div class="prop_word">Residence:</div>
            </div>
            <div class="prop_user"><%=user.residence%></div>
          </div>
          <div class="left_2_bio">
            <div class="prop_color" style="width: 85px;">
              <div class="prop_word">Freelance:</div>
            </div>
            <div class="prop_freelance"><%=user.freelance%></div>
          </div>
          <div class="left_2_bio">
            <div class="prop_color" style="width: 75px;">
              <div class="prop_word">Address:</div>
            </div>
            <div class="prop_user"><%=user.address%></div>
          </div>
        </div>
        <div class="marginer"></div>
        <div class="left_3">
          <div class="left_titles">Languages</div>
          <div class="lan_ski">
            <div class="lan_ski_prop"><%=user.languages[0]%></div>
            <div class="lan_ski_prop">100%</div>
          </div>
          <div class="line_svg"><img src="images/line100.svg" alt=""/></div>
          <div class="lan_ski">
            <div class="lan_ski_prop"><%=user.languages[2]%></div>
            
            <div class="lan_ski_prop">80%</div>
          </div>
          <div class="line_svg"><img src="images/line80.svg" alt=""/></div>
          <div class="lan_ski">
            <div class="lan_ski_prop"><%=user.languages[1]%></div>
            <div class="lan_ski_prop">60%</div>
          </div>
          <div class="line_svg"><img src="images/line60.svg" alt=""/></div>
        </div> 
        <div class="marginer"></div>
        <div class="left_4">
          <div class="left_titles">Skills</div>
          <div class="lan_ski">
            <div class="lan_ski_prop"><%=user.skills[0]%></div>
            <div class="lan_ski_prop">90%</div>
          </div>
          <div class="line_svg"><img src="images/line90.svg" alt=""/></div>
          <div class="lan_ski">
            <div class="lan_ski_prop"><%=user.skills[1]%></div>
            <div class="lan_ski_prop">85%</div>
          </div>
          <div class="line_svg"><img src="images/line85.svg" alt=""/></div>
          <div class="lan_ski">
            <div class="lan_ski_prop"><%=user.skills[2]%></div>
            <div class="lan_ski_prop">80%</div>
          </div>
          <div class="line_svg"><img src="images/line80.svg" alt=""/></div>
          <div class="lan_ski">
            <div class="lan_ski_prop"><%=user.skills[3]%></div>
            <div class="lan_ski_prop">75%</div>
          </div>
          <div class="line_svg"><img src="images/line75.svg" alt=""/></div>
          <div class="lan_ski">
            <div class="lan_ski_prop"><%=user.skills[4]%></div>
            <div class="lan_ski_prop">85%</div>
          </div>
          <div class="line_svg"><img src="images/line85.svg" alt=""/></div>

        </div>
        <div class="marginer"></div>
        <div class="left_5">
          <div class="left_titles">Extra Skills</div>
          <div class="left_extra">
            <div class="icon_square">
              <img src="icon/icon_square.svg"  alt="">
            </div>
            <div class="user_extra_skills"><%=user.extra_skills[0]%></div>
          </div>
          <div class="left_extra">
            <div class="icon_square">
              <img src="icon/icon_square.svg"  alt="">
            </div>
            <div class="user_extra_skills"><%=user.extra_skills[1]%></div>
          </div>
          <div class="left_extra">
            <div class="icon_square">
              <img src="icon/icon_square.svg"  alt="">
            </div>
            <div class="user_extra_skills"><%=user.extra_skills[2]%></div>
          </div>
          <div class="left_extra">
            <div class="icon_square">
              <img src="icon/icon_square.svg"  alt="">
            </div>
            <div class="user_extra_skills"><%=user.extra_skills[3]%></div>
          </div>
        </div>
        <div class="marginer"></div>
      </div>
      <div class="midd_frame">
        <div class="midd_up">
          <div class="midd_up_1">
            <div class="workplace"><h1><%=user.work_place%></h1></div>
            <div class="workplace_p"><%=user.work_p%></div>
            <div class="hire_me">
              HIRE ME <img src="btn_icon/Frame.svg" alt="">
            </div>
          </div>
          <div class="work_pic"><img src="box_images/your_image.svg" alt=""></div>
          <div class="iconchalar">
            <div style="margin-top:37px; margin-left: 36px; stroke: rgba(255, 180, 0, 0.80);"><img src="icon/round_yellow.svg" alt=""></div>
            <div style="margin-bottom: 19.5px; margin-left: 84px; margin-top: 419px;  stroke: rgba(5, 255, 0, 0.80); "><img src="icon/round_green.svg" alt=""></div>
            <div style="margin-bottom: 102px; margin-left: 370px; margin-top: 330px; stroke:rgba(0, 71, 255, 0.80);"><img src="icon/romb_blue.svg" alt=""></div>
            <div style="z-index: 2; margin-left: 516.5px; margin-top: 59.2px; stroke:rgba(5, 255, 0, 0.80);"><img src="icon/round_green" alt=""></div>
            <div style="z-index: 2; margin-left: 554px; margin-top: 378px; stroke:rgba(255, 180, 0, 0.80);"><img src="icon/round_yellow.svg" alt=""></div>
            <div style="z-index: 2;margin-bottom: 37px;  margin-left: 917.9px; stroke:rgba(255, 46, 0, 0.80);"><img src="icon/triangle.svg" alt=""></div>
            <div style="z-index: 2; margin-top: 65px;margin-left: 909px; stroke:rgba(255, 180, 0, 0.80);"><img src="icon/romb_blue.svg" alt=""></div>
          </div>
        </div>
        <div class="midd_down">
          <div class="my_services"><h1>My Services</h1></div>
          <div class="armet_minim"><p><%=user.my_services%></p></div>
          <div class="rectangle_box">
            <div class="rectangle">
              <div class="small_boxes"><img src="box_images/coding.svg" alt=""></div>
              <div class="small_boxes_1"><h1>Web Development</h1></div>
              <div class="small_boxes_2"><%=user.web_development%></div>
            </div>
            <div class="rectangle">
              <div class="small_boxes"><img src="box_images/illustration.svg" alt=""></div>
              <div class="small_boxes_1"><h1>UI/UX Design</h1></div>
              <div class="small_boxes_2"><%=user.ui_design%></div>
            </div>
            <div class="rectangle">
              <div class="small_boxes"><img src="box_images/Microphone.svg" alt=""></div>
              <div class="small_boxes_1"><h1>Sound Design</h1></div>
              <div class="small_boxes_2"><%=user.sound_design%></div>
            </div>
          </div>
          <div class="rectangle_box">
            <div class="rectangle">
              <div class="small_boxes"><img src="box_images/game-development.svg" alt=""></div>
              <div class="small_boxes_1"><h1>Game Design</h1></div>
              <div class="small_boxes_2"><%=user.game_design%></div>
            </div>
            <div class="rectangle">
              <div class="small_boxes"><img src="box_images/Photographer.svg" alt=""></div>
              <div class="small_boxes_1"><h1>Photography</h1></div>
              <div class="small_boxes_2"><%=user.photography%></div>
            </div>
            <div class="rectangle">
              <div class="small_boxes_1"><h1>Advertising</h1></div>
              <div class="small_boxes_3"><p><%=user.advertising%></p></div>
            </div>
          </div>
        </div>
        
       
      </div>
      <div class="right_frame">
        <div class="contrast">
          <img src="icon/contrast.svg" alt="">
        </div>
        <div class="union"><img src="icon/union.svg" alt=""></div>
        <a class="link_href" href="">
          <div class="ellipse_10">
            <img src="box_images/Home.svg" class="icon-1"/>
          </div>
        </a>
        <a class="link_href" href="">
          <div class="ellipse_10">
            <img src="box_images/file-code.svg" class="icon-1"/>
          </div>
        </a>
        <a class="link_href" href="">
          <div class="ellipse_10">
            <img src="box_images/cv.svg" class="icon-1"/>
          </div>
        </a>
        <a class="link_href" href="">
          <div class="ellipse_10">
            <img src="box_images/Portfolio.svg" class="icon-1"/>
          </div>
        </a>
        <a class="link_href" href="">
          <div class="ellipse_10">
            <img src="box_images/Blog.svg" class="icon-1"/>
          </div>
        </a>
      </div>
    </div>
  </div>  
</body>
</html>